$clr-primary: #333;
$clr-secondary: #fff;

$clr-accent-a: #66cdf0;
$clr-accent-b: #ff6347;

$clr-success: lightgreen;
$clr-error: rgb(211, 39, 39);

$clr-alert-a: tomato;
$clr-alert-b: rgb(255, 196, 0);
$clr-alert-c: rgb(105, 255, 105);
