.navbar-wrapper {
  width: 100%;
  height: 75px;
  background: #333;
}
.navbar-wrapper .navbar-main {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-wrapper .navbar-main .navbar-main-logo {
  width: 300px;
  height: 75px;
  padding: 0 1rem;
}
.navbar-wrapper .navbar-main .navbar-main-logo img {
  width: 100%;
  height: 75px;
  object-fit: contain;
  object-position: center;
  filter: invert(100%);
}
.navbar-wrapper .navbar-main .navbar-main-container {
  width: 100%;
}
.navbar-wrapper .navbar-main .navbar-main-container ul {
  list-style: none;
  display: flex;
}
.navbar-wrapper .navbar-main .navbar-main-container ul li {
  padding: 1rem;
  background: #333;
  transition: 0.1s;
}
.navbar-wrapper .navbar-main .navbar-main-container ul li:hover {
  background: #666666;
  border-bottom: 5px solid lightgreen;
  margin-bottom: -5px;
}
.navbar-wrapper .navbar-main .navbar-main-container ul li:hover > a {
  color: lightgreen;
}
.navbar-wrapper .navbar-main .navbar-main-container ul li a {
  text-decoration: none;
  padding: 0.5rem;
  color: #fff;
}
.navbar-wrapper .navbar-main .navbar-secondary-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #333;
  border: none;
  font-size: 1rem;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .username-intro {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 25px;
  color: #fff;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .username-intro .username {
  color: lightgreen;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item {
  padding: 0.5rem 1rem;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link {
  position: relative;
  width: 80px;
  border-left: 1px solid #666666;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s;
  padding: 0.4rem;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link i,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link i {
  position: absolute;
  left: 40px;
  font-size: 1.2rem;
  transition: 0.2s;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link .card-count-zero,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link .wish-count-zero,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link .card-count-zero,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link .wish-count-zero {
  color: #999999;
  margin-left: 10px;
  font-weight: 300;
  font-size: 1.4rem;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link .card-count,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link .wish-count,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link .card-count,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link .wish-count {
  margin-left: 10px;
  font-weight: 300;
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link .card-count,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link .card-count {
  color: lightgreen;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link .wish-count,
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link .wish-count {
  color: tomato;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link:hover {
  border-bottom: 3px solid lightgreen;
  margin-bottom: -3px;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .card-link:hover i {
  color: lightgreen;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link:hover {
  border-bottom: 3px solid tomato;
  margin-bottom: -3px;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .navbar-secondary-item .wish-link:hover i {
  color: tomato;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .btn-logout {
  padding: 0.5rem 1rem;
  margin-left: 50px;
  font-size: 1.8rem;
  color: #fff;
  background: #4d4d4d;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  transition: 0.3s;
}
.navbar-wrapper .navbar-main .navbar-secondary-container .btn-logout:hover {
  color: tomato;
}

.login-success-message {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}
.login-success-message .success-message {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.login-success-message .success-message .username {
  color: lightgreen;
  text-transform: uppercase;
}

.home-section-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home-section-wrapper .section-container:nth-of-type(1) {
  height: 42vh;
}
.home-section-wrapper .section-container:nth-of-type(1) section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}
.home-section-wrapper .section-container:nth-of-type(1) section > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) {
  margin: 40px;
  height: 300px;
  width: 300px;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) .media-container {
  position: relative;
  width: 100%;
  height: 250px;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) .media-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) .media-container i {
  position: absolute;
  top: 35%;
  left: 40%;
  color: #fff;
  font-size: 4rem;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) p {
  border-left: 5px solid lightgreen;
  text-align: left;
  padding-left: 10px;
  margin-top: 10px;
  color: #333;
  line-height: 1.3;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(2) {
  margin: 40px;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(2) h5 {
  font-size: 2.5rem;
  padding: 1rem;
  line-height: 1.5;
  color: #333;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}
.home-section-wrapper .section-container:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section-wrapper .section-container:nth-of-type(2) section {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.home-section-wrapper .section-container:nth-of-type(2) section .section-signup-container {
  border-left: 5px solid #66cdf0;
  padding-left: 10px;
}
.home-section-wrapper .section-container:nth-of-type(2) section .separator {
  color: lightgreen;
  font-size: 3rem;
  font-weight: 900;
  padding-right: 100px;
}
.home-section-wrapper .section-container:nth-of-type(2) .portfolio-section {
  height: 49.8vh;
  margin-top: 0;
  background: #333;
  opacity: 0;
  animation: fadeInPortfolio 0.4s forwards;
}
@keyframes fadeInPortfolio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.index-signup {
  margin-right: 100px;
}
.index-signup h4 {
  font-size: 2rem;
  padding: 0.5rem;
}
.index-signup p {
  padding: 0.5rem;
}
.index-signup form {
  display: flex;
  flex-direction: column;
}
.index-signup form input,
.index-signup form button {
  padding: 0.5rem;
  margin: 5px;
  font-size: 1rem;
}

.index-login {
  min-width: 300px;
  padding: 1rem;
  background: #333;
  border-radius: 10px;
}
.index-login h4 {
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff;
}
.index-login p {
  padding: 0.5rem;
  color: lightgreen;
}
.index-login form {
  display: flex;
  flex-direction: column;
}
.index-login form input,
.index-login form button {
  padding: 0.5rem;
  margin: 5px;
  font-size: 1rem;
}

h2 {
  padding: 1rem;
}

.store-products-section {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.store-products-section > img {
  position: fixed;
  top: 0;
  z-index: -99;
  object-fit: contain;
}
.store-products-section .product-container {
  width: max-content;
  max-width: 320px;
  border-radius: 10px;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  margin: 0 2rem;
  box-shadow: 2px 2px 5px #999999;
  background: #fff;
}
.store-products-section .product-container .product-image-container {
  height: 320px;
  width: 100%;
}
.store-products-section .product-container .product-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  padding: 1rem;
}
.store-products-section .product-container .product-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 3px solid #333;
}
.store-products-section .product-container .product-data-container .product-name {
  font-size: 1.5rem;
}
.store-products-section .product-container .product-data-container .product-description {
  line-height: 1.8;
  padding: 1rem;
}
.store-products-section .product-container .product-data-container .product-price {
  width: max-content;
  font-style: italic;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
}
.store-products-section .product-container .product-info-container {
  height: 140px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  background: #333;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.store-products-section .product-container .product-info-container .amount-header,
.store-products-section .product-container .product-info-container .amount-header-oos {
  width: 100%;
  grid-column: 1/end;
  text-align: right;
  font-size: 0.7rem;
  margin-bottom: 5px;
}
.store-products-section .product-container .product-info-container .amount-header-oos {
  font-style: italic;
  color: #b3b3b3;
}
.store-products-section .product-container .product-info-container .product-stock-amount {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
  align-items: center;
}
.store-products-section .product-container .product-info-container .product-stock-amount .out-of-stock {
  font-weight: bold;
  font-style: italic;
  color: tomato;
}
.store-products-section .product-container .product-info-container .product-stock-amount .stock-amount {
  font-weight: bold;
}
.store-products-section .product-container .product-info-container .product-stock-amount .low-stock {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.3rem;
}
.store-products-section .product-container .product-info-container .product-stock-amount .good-stock {
  margin-left: 10px;
  color: rgb(105, 255, 105);
  font-weight: bold;
  font-size: 1.3rem;
}
.store-products-section .product-container .product-info-container .product-select-amount {
  padding: 0.2rem;
  font-size: 1.1rem;
  width: 60px;
  text-align: center;
}
.store-products-section .product-container .product-info-container .btn-add-to-card {
  margin-top: 20px;
  padding: 0.5rem;
  background: lightgreen;
  border: none;
  grid-column: 1/end;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s;
}
.store-products-section .product-container .product-info-container .btn-add-to-card:hover {
  background: #bcf5bc;
}
.store-products-section .product-container .product-info-container .btn-add-to-card:disabled {
  color: gray;
  background: #d2f8d2;
  font-weight: 500;
}
.store-products-section .product-container .product-info-container .btn-add-to-card i {
  margin-right: 20px;
}
.store-products-section .product-container .product-info-container .btn-add-to-wish {
  margin-top: 20px;
  padding: 0.5rem;
  background: #fff;
  color: #ff6347;
  border: none;
  grid-column: 1/end;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s;
}
.store-products-section .product-container .product-info-container .btn-add-to-wish:hover {
  background: #f2f2f2;
  color: #ff3814;
}
.store-products-section .product-container .product-info-container .btn-add-to-wish i {
  margin-right: 20px;
}

.login-success-message {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}
.login-success-message .success-message {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.login-success-message .success-message .username {
  color: lightgreen;
  text-transform: uppercase;
}

.order-success-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}
.order-success-message .success-message {
  color: lightgreen;
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: center;
}
.order-success-message i {
  font-size: 3rem;
  padding: 0.5rem;
}

.shopping-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.shopping-card-container .upper-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  /* Hide the default radio button */
  /* Custom radio button */
  /* Circle indicator for radio button */
  /* Style for when the radio button is selected */
}
.shopping-card-container .upper-container .username-intro {
  font-size: 1.2rem;
}
.shopping-card-container .upper-container .username-intro .username {
  color: #38e038;
  font-weight: bold;
  text-transform: uppercase;
}
.shopping-card-container .upper-container .delivery-container {
  padding: 0 2rem;
  color: #333;
  border-left: 5px solid #66cdf0;
}
.shopping-card-container .upper-container .delivery-container h5 {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.shopping-card-container .upper-container .delivery-container .input-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.shopping-card-container .upper-container .delivery-container .input-container label {
  width: 150px;
  text-align: right;
  padding: 0.5rem;
}
.shopping-card-container .upper-container .delivery-container .input-container input {
  width: 200px;
  padding: 0.5rem;
  background: #fff;
  color: #333;
  border: 1px solid #333;
  font-size: 1rem;
  font-style: italic;
}
.shopping-card-container .upper-container .payment-delivery-container input[type=radio] {
  display: none;
}
.shopping-card-container .upper-container .payment-delivery-container label {
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px; /* Spacing between radio buttons */
}
.shopping-card-container .upper-container .payment-delivery-container label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #fff;
}
.shopping-card-container .upper-container .payment-delivery-container input[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 37%;
  transform: translateY(-50%) rotate(45deg);
  width: 7px;
  height: 17px;
  border-bottom: 5px solid #66cdf0;
  border-right: 5px solid #66cdf0;
}
.shopping-card-container .upper-container .payment-delivery-container {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 2rem;
  margin-left: 5rem;
  border-left: 5px solid #66cdf0;
  color: #333;
}
.shopping-card-container .upper-container .payment-delivery-container h5 {
  font-size: 1.2rem;
  text-align: left;
  padding: 1rem 0;
}
.shopping-card-container .upper-container .payment-delivery-container .input-container {
  display: flex;
  justify-content: flex-start;
}
.shopping-card-container .upper-container .payment-delivery-container .input-container input {
  margin: 0.5rem;
}
.shopping-card-container .upper-container .payment-delivery-container .input-container input:checked + label {
  font-weight: bold;
}
.shopping-card-container .upper-container .payment-delivery-container .input-container label {
  padding: 0.5rem;
  padding-left: 35px;
}
.shopping-card-container .upper-container .checkout-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
.shopping-card-container .upper-container .checkout-warning .error {
  border: 1px solid tomato;
  max-width: max-content;
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(211, 39, 39);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  animation: errorIndicator 0.6s forwards;
}
.shopping-card-container .upper-container .checkout-warning .error:nth-of-type(2) {
  margin-top: 10px;
}
@keyframes errorIndicator {
  0%, 100% {
    background-color: rgba(255, 255, 255, 0.7);
  }
  20% {
    background-color: rgba(211, 39, 39, 0.5);
  }
}
.shopping-card-container .lower-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.shopping-card-container .lower-container > img {
  z-index: -99;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: contain;
}
.shopping-card-container .lower-container .selected-products-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.shopping-card-container .lower-container .selected-products-container > h5 {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-text-stroke: 1px rgba(51, 51, 51, 0.3);
  font-size: 4rem;
  padding: 2rem 0;
}
.shopping-card-container .lower-container .selected-products-container .product-container {
  background: #fff;
  display: flex;
  margin-bottom: 20px;
  border-top-left-radius: 91px;
  border-bottom-left-radius: 91px;
  border-right: 10px solid lightgreen;
  box-shadow: 4px 4px 10px #333;
  padding: 1rem;
}
.shopping-card-container .lower-container .selected-products-container .product-container img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.shopping-card-container .lower-container .selected-products-container .product-container .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 600px;
  border-right: 1px solid #333;
}
.shopping-card-container .lower-container .selected-products-container .product-container .info-container .product-name {
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
}
.shopping-card-container .lower-container .selected-products-container .product-container .info-container .product-description {
  padding: 0.5rem 1rem;
}
.shopping-card-container .lower-container .selected-products-container .product-container .info-container .stock-amount {
  padding: 0.5rem 0;
  margin-left: 1rem;
  font-size: 0.8rem;
  color: tomato;
  border-top: 1px solid black;
}
.shopping-card-container .lower-container .selected-products-container .product-container .info-container .stock-amount .amount {
  padding-left: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  width: 150px;
  align-items: center;
}
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .btn-remove {
  width: 100%;
  text-align: right;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: tomato;
  transition: 0.3s;
}
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .btn-remove:hover {
  color: rgb(211, 39, 39);
}
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .product-amount {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .product-amount .order-amount {
  padding: 0.2rem;
  width: 50px;
  margin-left: 10px;
  font-size: 1rem;
  text-align: center;
}
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .price-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .price-container .product-price-unit,
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .price-container .product-price-total {
  width: 100%;
  padding: 0.2rem 0;
  font-style: italic;
}
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .price-container .product-price-unit span,
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .price-container .product-price-total span {
  font-size: 0.7rem;
  font-style: normal;
  padding-right: 10px;
}
.shopping-card-container .lower-container .selected-products-container .product-container .ctrl-container .price-container .product-price-total {
  font-weight: bold;
}
.shopping-card-container .lower-container .selected-products-container .checkout-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 963px;
  height: 80px;
  padding: 0.6rem;
  color: #333;
  text-align: right;
}
.shopping-card-container .lower-container .selected-products-container .checkout-container .total {
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 0.5rem 1rem;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  background: #fff;
  color: #333;
  box-shadow: 4px 4px 10px #333;
  border: 5px solid lightgreen;
  border-radius: 30px;
}
.shopping-card-container .lower-container .selected-products-container .checkout-container .total span {
  font-size: 1rem;
  padding-left: 0.5rem;
}
.shopping-card-container .lower-container .selected-products-container .checkout-container .btn-order {
  width: 200px;
  height: 60px;
  padding: 1rem;
  margin-right: 25px;
  color: #333;
  background: #fff;
  border: 1px solid #333;
  border-radius: 30px;
  font-size: 1.2rem;
  border: 5px solid #fff;
  box-shadow: 4px 4px 10px #333;
  transition: 0.6s;
}
.shopping-card-container .lower-container .selected-products-container .checkout-container .btn-order:hover {
  background: #e8fce8;
  border: 5px solid lightgreen;
  color: #116e11;
}
.shopping-card-container .lower-container .selected-products-container .checkout-container .btn-order:disabled {
  color: rgb(211, 39, 39);
  font-style: italic;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.5);
  border: none;
}
.shopping-card-container .lower-container .selected-products-container .checkout-container .btn-order:disabled:hover {
  color: rgb(211, 39, 39);
  font-weight: 500;
  background: rgba(255, 255, 255, 0.5);
  border: none;
}
.shopping-card-container .lower-container .selected-products-container .empty-cart {
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem;
}

.wish-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wish-list-container .upper-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
}
.wish-list-container .upper-container .username-intro {
  font-size: 1.2rem;
}
.wish-list-container .upper-container .username-intro .username {
  color: #38e038;
  font-weight: bold;
  text-transform: uppercase;
}
.wish-list-container .lower-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.wish-list-container .lower-container > img {
  z-index: -99;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: contain;
}
.wish-list-container .lower-container .selected-products-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wish-list-container .lower-container .selected-products-container > h5 {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-text-stroke: 1px rgba(51, 51, 51, 0.3);
  font-size: 4rem;
  padding: 2rem 0;
}
.wish-list-container .lower-container .selected-products-container .product-container {
  background: #fff;
  display: flex;
  margin-bottom: 20px;
  border-top-left-radius: 91px;
  border-bottom-left-radius: 91px;
  border-right: 10px solid lightgreen;
  box-shadow: 4px 4px 10px #333;
  padding: 1rem;
}
.wish-list-container .lower-container .selected-products-container .product-container img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.wish-list-container .lower-container .selected-products-container .product-container .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 600px;
  border-right: 1px solid #333;
}
.wish-list-container .lower-container .selected-products-container .product-container .info-container .product-name {
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
}
.wish-list-container .lower-container .selected-products-container .product-container .info-container .product-description {
  padding: 0.5rem 1rem;
}
.wish-list-container .lower-container .selected-products-container .product-container .info-container .stock-amount {
  padding: 0.5rem 0;
  margin-left: 1rem;
  font-size: 0.8rem;
  color: tomato;
  border-top: 1px solid black;
}
.wish-list-container .lower-container .selected-products-container .product-container .info-container .stock-amount .amount {
  padding-left: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.wish-list-container .lower-container .selected-products-container .product-container .ctrl-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  width: 150px;
  align-items: center;
}
.wish-list-container .lower-container .selected-products-container .product-container .ctrl-container .btn-remove {
  width: 100%;
  text-align: right;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: tomato;
  transition: 0.3s;
}
.wish-list-container .lower-container .selected-products-container .product-container .ctrl-container .btn-remove:hover {
  color: rgb(211, 39, 39);
}
.wish-list-container .lower-container .selected-products-container .product-container .ctrl-container .price-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.wish-list-container .lower-container .selected-products-container .product-container .ctrl-container .price-container .product-price-unit {
  width: 100%;
  padding: 0.2rem 0;
  font-style: italic;
}
.wish-list-container .lower-container .selected-products-container .product-container .ctrl-container .price-container .product-price-unit span {
  font-size: 0.7rem;
  font-style: normal;
  padding-right: 10px;
}

.portfolio-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.portfolio-wrapper .portfolio-header {
  padding-left: 35px;
  width: 100%;
  color: rgba(255, 255, 255, 0.2);
  font-size: 2.5rem;
  letter-spacing: 1rem;
  animation: buildHeader 0.4s forwards;
}
@keyframes buildHeader {
  0% {
    letter-spacing: 5rem;
  }
  100% {
    letter-spacing: 1rem;
  }
}
.portfolio-wrapper .home-portfolio {
  width: 100%;
  height: 100%;
  padding: 0 7rem;
  display: flex;
  gap: 50px;
}
.portfolio-wrapper .home-portfolio .portfolio-img-container {
  position: relative;
  display: inline-block;
  flex: 1;
  width: 300px;
  height: 300px;
}
.portfolio-wrapper .home-portfolio .portfolio-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(0.9);
  filter: grayscale(100);
  transition: 0.5s ease;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #1a1a1a;
}
.portfolio-wrapper .home-portfolio .portfolio-img-container img:hover {
  transform: scale(1);
  filter: grayscale(0);
  border-radius: 100px;
}
.portfolio-wrapper .home-portfolio .portfolio-img-container img:hover + h5 {
  color: white;
  background: rgba(51, 51, 51, 0.9);
  letter-spacing: normal;
}
.portfolio-wrapper .home-portfolio .portfolio-img-container h5 {
  width: auto;
  position: absolute;
  letter-spacing: 0.5rem;
  background: rgba(51, 51, 51, 0);
  top: 200px;
  left: 0;
  color: rgba(255, 255, 255, 0);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  padding: 1rem;
  z-index: 99;
  transition: 0.5s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */