.navbar-wrapper {
  width: 100%;
  height: 75px;
  background: #333;
}
.navbar-wrapper .navbar-main {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-wrapper .navbar-main .navbar-main-logo {
  width: 300px;
  height: 75px;
  padding: 0 1rem;
  border-right: 1px solid #fff;
}
.navbar-wrapper .navbar-main .navbar-main-logo img {
  width: 100%;
  height: 75px;
  object-fit: contain;
  object-position: center;
  filter: invert(100%);
}
.navbar-wrapper .navbar-main .navbar-main-container {
  width: 100%;
}
.navbar-wrapper .navbar-main .navbar-main-container ul {
  list-style: none;
  display: flex;
}
.navbar-wrapper .navbar-main .navbar-main-container ul li {
  padding: 1rem;
}
.navbar-wrapper .navbar-main .navbar-main-container ul li a {
  text-decoration: none;
  padding: 0.5rem;
  color: #fff;
}
.navbar-wrapper .navbar-main .navbar-secondary-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar-wrapper .navbar-main .navbar-secondary-container ul {
  list-style: none;
  display: flex;
}
.navbar-wrapper .navbar-main .navbar-secondary-container ul li {
  padding: 0.5rem;
}
.navbar-wrapper .navbar-main .navbar-secondary-container ul li button {
  padding: 0.5rem;
}

.home-section-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home-section-wrapper .section-container:nth-of-type(1) {
  height: 42vh;
}
.home-section-wrapper .section-container:nth-of-type(1) section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110%;
  padding: 2rem;
}
.home-section-wrapper .section-container:nth-of-type(1) section > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) {
  margin: 40px;
  height: 300px;
  width: 300px;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) .media-container {
  position: relative;
  width: 100%;
  height: 250px;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) .media-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) .media-container i {
  position: absolute;
  top: 35%;
  left: 40%;
  color: #fff;
  font-size: 4rem;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(1) p {
  border-left: 5px solid lightgreen;
  text-align: left;
  padding-left: 10px;
  margin-top: 10px;
  color: #333;
  line-height: 1.3;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(2) {
  margin: 40px;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-section-wrapper .section-container:nth-of-type(1) section .section-content-container:nth-of-type(2) h5 {
  font-size: 2.5rem;
  padding: 1rem;
  line-height: 1.5;
  color: #333;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.home-section-wrapper .section-container:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section-wrapper .section-container:nth-of-type(2) section {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.home-section-wrapper .section-container:nth-of-type(2) section .section-signup-container {
  border-left: 5px solid #66cdf0;
  padding-left: 10px;
}

.index-signup {
  margin-right: 100px;
}
.index-signup h4 {
  font-size: 2rem;
  padding: 0.5rem;
}
.index-signup p {
  padding: 0.5rem;
}
.index-signup form {
  display: flex;
  flex-direction: column;
}
.index-signup form input,
.index-signup form button {
  padding: 0.5rem;
  margin: 5px;
}

.index-login {
  min-width: 300px;
  padding: 1rem;
  background: #333;
  border-radius: 10px;
}
.index-login h4 {
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff;
}
.index-login p {
  padding: 0.5rem;
  color: lightgreen;
}
.index-login form {
  display: flex;
  flex-direction: column;
}
.index-login form input,
.index-login form button {
  padding: 0.5rem;
  margin: 5px;
}

.store-products-section {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.store-products-section .product-container {
  width: max-content;
  max-width: 400px;
  border-radius: 10px;
  margin: 1rem 1rem 0 1rem;
  box-shadow: 2px 0px 5px #999999;
}
.store-products-section .product-container .product-image-container {
  height: 400px;
  width: 100%;
}
.store-products-section .product-container .product-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  padding: 1rem;
}
.store-products-section .product-container .product-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 3px solid #333;
}
.store-products-section .product-container .product-data-container .product-name {
  font-size: 1.5rem;
}
.store-products-section .product-container .product-data-container .product-description {
  line-height: 1.8;
  padding: 1rem;
}
.store-products-section .product-container .product-data-container .product-price {
  width: max-content;
  font-style: italic;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
}
.store-products-section .product-container .product-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  background: #333;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.store-products-section .product-container .product-info-container .product-stock-amount {
  margin-left: 2rem;
  padding: 1rem;
}
.store-products-section .product-container .product-info-container .product-stock-amount span {
  font-weight: bold;
}
.store-products-section .product-container .product-info-container .product-select-amount {
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 60px;
  text-align: center;
}
.store-products-section .product-container .product-info-container .btn-add-to-card {
  margin-top: 20px;
  padding: 0.5rem;
  background: lightgreen;
  border: none;
  grid-column: 1/end;
  width: 250px;
  border-radius: 10px;
}

.shopping-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.shopping-card-container .upper-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
  background: #f2f2f2;
}
.shopping-card-container .upper-container .delivery-container h5 {
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  text-align: left;
}
.shopping-card-container .upper-container .delivery-container .input-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.shopping-card-container .upper-container .delivery-container .input-container label {
  width: 150px;
  text-align: left;
  padding: 0.5rem;
}
.shopping-card-container .upper-container .delivery-container .input-container input {
  padding: 0.5rem;
  background: white;
  border: 1px solid #333;
}
.shopping-card-container .upper-container .payment-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.shopping-card-container .upper-container .payment-container .input-container {
  display: flex;
  justify-content: flex-start;
}
.shopping-card-container .upper-container .payment-container .input-container input {
  margin: 0.5rem;
}
.shopping-card-container .upper-container .payment-container .input-container label {
  padding: 0.5rem;
}
.shopping-card-container .lower-container {
  padding: 2rem;
  border-top: 1px solid #333;
}
.shopping-card-container .lower-container .selected-products-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.shopping-card-container .lower-container .selected-products-container p {
  padding: 1rem;
}
.shopping-card-container .lower-container .selected-products-container .btn-order {
  margin-top: 20px;
  width: max-content;
  padding: 1rem;
  font-weight: bold;
  background: lightgreen;
  border: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */