@use "../abstracts/colors" as *;
.login-success-message {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: rgba($color: #000000, $alpha: 0.7);
  backdrop-filter: blur(5px);

  .success-message {
    color: $clr-secondary;
    font-size: 1.5rem;
    padding: 1rem;
    .username {
      color: $clr-success;
      text-transform: uppercase;
    }
  }
}

.index-login {
  min-width: 300px;
  padding: 1rem;
  background: $clr-primary;
  border-radius: 10px;

  h4 {
    font-size: 2rem;
    padding: 0.5rem;
    color: $clr-secondary;
  }

  p {
    padding: 0.5rem;
    color: $clr-success;
  }

  form {
    display: flex;
    flex-direction: column;

    input,
    button {
      padding: 0.5rem;
      margin: 5px;
      font-size: 1rem;
    }
  }
}
