@use "../abstracts/colors" as *;

.order-success-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: rgba($color: #000000, $alpha: 0.7);
  backdrop-filter: blur(5px);

  .success-message {
    color: $clr-success;
    font-size: 1.2rem;
    border-radius: 10px;
    text-align: center;
  }

  i {
    font-size: 3rem;
    padding: 0.5rem;
  }
}

.shopping-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .upper-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
    background: rgba($color: #fff, $alpha: 0.8);

    .username-intro {
      font-size: 1.2rem;
      .username {
        color: darken($clr-success, 20%);
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .delivery-container {
      padding: 0 2rem;
      color: $clr-primary;
      border-left: 5px solid $clr-accent-a;

      h5 {
        padding: 1rem;
        font-size: 1.2rem;
        text-align: center;
      }

      .input-container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5px;

        label {
          width: 150px;
          text-align: right;
          padding: 0.5rem;
        }

        input {
          width: 200px;
          padding: 0.5rem;
          background: $clr-secondary;
          color: $clr-primary;
          border: 1px solid $clr-primary;
          font-size: 1rem;
          font-style: italic;
        }
      }
    }

    /* Hide the default radio button */
    .payment-delivery-container input[type="radio"] {
      display: none;
    }

    /* Custom radio button */
    .payment-delivery-container label {
      padding-left: 35px;
      position: relative;
      cursor: pointer;
      display: inline-block;
      margin-right: 15px; /* Spacing between radio buttons */
    }

    /* Circle indicator for radio button */
    .payment-delivery-container label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border: 1px solid $clr-primary;
      border-radius: 50%;
      background-color: $clr-secondary;
    }

    /* Style for when the radio button is selected */
    .payment-delivery-container input[type="radio"]:checked + label:after {
      content: "";
      position: absolute;
      left: 9px;
      top: 37%;
      transform: translateY(-50%) rotate(45deg);
      width: 7px;
      height: 17px;
      border-bottom: 5px solid $clr-accent-a;
      border-right: 5px solid $clr-accent-a;
    }

    .payment-delivery-container {
      width: 300px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-left: 2rem;
      margin-left: 5rem;
      border-left: 5px solid $clr-accent-a;
      color: $clr-primary;

      h5 {
        font-size: 1.2rem;
        text-align: left;
        padding: 1rem 0;
      }

      .input-container {
        display: flex;
        justify-content: flex-start;

        input {
          margin: 0.5rem;
        }
        input:checked + label {
          font-weight: bold;
        }

        label {
          padding: 0.5rem;
          padding-left: 35px;
        }
      }
    }
  }

  .lower-container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    > img {
      z-index: -99;
      position: fixed;
      top: 0;
      left: 0;
      object-fit: contain;
    }

    .selected-products-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      > h5 {
        color: rgba($color: #fff, $alpha: 0.6);
        -webkit-text-stroke: 1px rgba($color: #000000, $alpha: 0.3);
        font-size: 4rem;
        padding: 2rem;
      }

      .product-container {
        background: $clr-secondary;
        display: flex;
        margin-bottom: 20px;
        border-top-left-radius: 91px;
        border-bottom-left-radius: 91px;
        border-right: 10px solid $clr-success;
        box-shadow: 4px 4px 10px $clr-primary;
        padding: 1rem;

        img {
          width: 150px;
          height: 150px;
          border-radius: 100%;
        }

        .info-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: left;
          width: 600px;
          border-right: 1px solid $clr-primary;

          .product-name {
            font-size: 1.7rem;
            padding: 0.5rem 1rem;
          }

          .product-description {
            padding: 0.5rem 1rem;
          }

          .stock-amount {
            padding: 0.5rem 0;
            margin-left: 1rem;
            font-size: 0.8rem;
            color: $clr-alert-a;
            border-top: 1px solid black;

            .amount {
              padding-left: 10px;
              font-size: 1rem;
              font-weight: bold;
            }
          }
        }
        .ctrl-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: right;
          width: 150px;
          align-items: center;

          .btn-remove {
            width: 100%;
            text-align: right;
            border: none;
            background: none;
            font-size: 1rem;
            font-weight: bold;
            color: $clr-alert-a;
            transition: 0.3s;
            &:hover {
              color: $clr-error;
            }
          }

          .product-amount {
            width: 100%;
            font-size: 0.8rem;
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .order-amount {
              padding: 0.2rem;
              width: 50px;
              margin-left: 10px;
              font-size: 1rem;
              text-align: center;
            }
          }

          .price-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .product-price-unit,
            .product-price-total {
              width: 100%;
              padding: 0.2rem 0;
              font-style: italic;

              span {
                font-size: 0.7rem;
                font-style: normal;
                padding-right: 10px;
              }
            }

            .product-price-total {
              font-weight: bold;
            }
          }
        }
      }

      .checkout-warning {
        width: 100%;

        .error {
          border: 1px solid $clr-alert-a;
          width: 100%;
          background: rgba($color: #fff, $alpha: 0.7);
          padding: 1rem;
          font-size: 1rem;
          font-weight: bold;
          font-style: italic;
          color: $clr-error;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          &:nth-of-type(2) {
            margin-top: 10px;
          }
          animation: errorIndicator 0.6s forwards;
        }

        @keyframes errorIndicator {
          0%,
          100% {
            background-color: rgba($color: $clr-secondary, $alpha: 0.7);
          }
          20% {
            background-color: rgba($color: $clr-error, $alpha: 0.5);
          }
        }
      }

      .checkout-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 963px;
        height: 80px;
        padding: 0.6rem;
        color: $clr-primary;
        text-align: right;

        .total {
          display: flex;
          justify-content: center;
          height: 60px;
          padding: 0.5rem 1rem;
          align-items: center;
          font-weight: bold;
          font-size: 1.5rem;
          background: $clr-secondary;
          color: $clr-primary;
          box-shadow: 4px 4px 10px $clr-primary;
          border: 5px solid $clr-success;
          border-radius: 30px;
          span {
            font-size: 1rem;
            padding-left: 0.5rem;
          }
        }
        .btn-order {
          width: 200px;
          height: 60px;
          padding: 1rem;
          margin-right: 25px;
          color: $clr-primary;
          background: $clr-secondary;
          border: 1px solid $clr-primary;
          border-radius: 30px;
          font-size: 1.2rem;
          border: 5px solid $clr-secondary;
          box-shadow: 4px 4px 10px $clr-primary;
          transition: 0.6s;
          &:hover {
            background: lighten($clr-success, 20%);
            border: 5px solid $clr-success;
            color: darken($clr-success, 50%);
          }
          &:disabled {
            color: $clr-error;
            font-style: italic;
            font-weight: 500;
            background: rgba($color: $clr-secondary, $alpha: 0.5);
            border: none;
            &:hover {
              color: $clr-error;
              font-weight: 500;
              background: rgba($color: $clr-secondary, $alpha: 0.5);
              border: none;
            }
          }
        }
      }

      .empty-cart {
        color: rgba($color: #000000, $alpha: 0.8);
        font-style: italic;
        font-weight: bold;
        font-size: 2rem;
        padding: 2rem;
      }
    }
  }
}
