@use "../abstracts/colors" as *;

.wish-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .upper-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
    background: rgba($color: $clr-secondary, $alpha: 0.8);

    .username-intro {
      font-size: 1.2rem;
      .username {
        color: darken($clr-success, 20%);
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .lower-container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    > img {
      z-index: -99;
      position: fixed;
      top: 0;
      left: 0;
      object-fit: contain;
    }

    .selected-products-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      > h5 {
        width: 100%;
        color: rgba($color: $clr-secondary, $alpha: 0.6);
        -webkit-text-stroke: 1px rgba($color: $clr-primary, $alpha: 0.3);
        font-size: 4rem;
        padding: 2rem 0;
      }

      .product-container {
        background: $clr-secondary;
        display: flex;
        margin-bottom: 20px;
        border-top-left-radius: 91px;
        border-bottom-left-radius: 91px;
        border-right: 10px solid $clr-success;
        box-shadow: 4px 4px 10px $clr-primary;
        padding: 1rem;

        img {
          width: 150px;
          height: 150px;
          border-radius: 100%;
        }

        .info-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: left;
          width: 600px;
          border-right: 1px solid $clr-primary;

          .product-name {
            font-size: 1.7rem;
            padding: 0.5rem 1rem;
          }

          .product-description {
            padding: 0.5rem 1rem;
          }

          .stock-amount {
            padding: 0.5rem 0;
            margin-left: 1rem;
            font-size: 0.8rem;
            color: $clr-alert-a;
            border-top: 1px solid black;

            .amount {
              padding-left: 10px;
              font-size: 1rem;
              font-weight: bold;
            }
          }
        }
        .ctrl-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: right;
          width: 150px;
          align-items: center;

          .btn-remove {
            width: 100%;
            text-align: right;
            border: none;
            background: none;
            font-size: 1rem;
            font-weight: bold;
            color: $clr-alert-a;
            transition: 0.3s;
            &:hover {
              color: $clr-error;
            }
          }

          .price-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .product-price-unit {
              width: 100%;
              padding: 0.2rem 0;
              font-style: italic;

              span {
                font-size: 0.7rem;
                font-style: normal;
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
